*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: clamp(14px, 5vw, 10%);
  font-family: "Montserrat";
  background: #f3f3f3;
}

body .dataLegend {
  color: #21bd7c;
}

body .ncx {
  width: clamp(480px, 40vw, 60%);
  padding: 0.8rem;
  margin: 1rem;
  background-color: #fffbfb;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
}

body .ncx #Jaf h3 {
  text-align: center;
  font-size: clamp(1rem, 10%, 5vw);
  font-family: "Montserrat";
}

body .ncx #Jaf .basic_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0.8rem 0.3rem;
  font-family: "Poppins";
  font-size: 13px;
}

body .ncx #Jaf .basic_info .first-column {
  width: 200px;
}

body .ncx #Jaf .basic_info .second-column {
  width: 150px;
}

body .ncx #Jaf .basic_info .box {
  width: 9.6rem;
  height: 1.5rem;
  border-radius: 5px;
  border: solid 1px #535353;
}

body .ncx #Jaf .prsnl_quest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8rem 1.4rem;
  font-family: "Poppins";
  font-size: 13px;
}

body .ncx #Jaf .prsnl_quest .first-column {
  width: 195px;
  margin-left: 0.3rem;
  padding-right: 0.5rem;
}

body .ncx #Jaf .prsnl_quest .second-column {
  width: 200px;
}

body .ncx #Jaf .prsnl_quest .box {
  width: 9.6rem;
  height: 1.5rem;
  border-radius: 5px;
  border: solid 1px #535353;
}

body .ncx #Jaf .FamBG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0.8rem 0.4rem;
  font-family: "Poppins";
  font-size: 13px;
}

body .ncx #Jaf .FamBG .father {
  width: 200px;
  padding: 0.4rem;
}

body .ncx #Jaf .FamBG .mother {
  width: 200px;
  margin-right: -2rem;
}

body .ncx #Jaf .FamBG .box {
  width: 9.6rem;
  height: 1.5rem;
  border-radius: 5px;
  border: solid 1px #535353;
}

body .ncx #Jaf span {
  padding: 8px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .ncx #Jaf #btnSubmit {
  height: auto;
  padding: 4px 10px;
  border-radius: 3px;
  width: auto;
  font-size: 15px;
  border: solid 0px beige;
  position: relative;
  background-color: #21bd7c;
  color: white;
  border-radius: 20px;
}

@media (min-width: 600px) {
  body {
    font-size: clamp(1rem, 10%, 10vw);
    font-family: "Montserrat";
  }
  body .dataLegend {
    color: #0857ce;
  }
  body .ncx {
    width: clamp(750px, 50%, 50vw);
  }
  body .ncx #Jaf .basic_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0.9rem;
    font-family: "Poppins";
    font-size: clamp(1rem, 10%, 10vw);
    font-family: "Montserrat";
  }
  body .ncx #Jaf .basic_info .first-column {
    width: 300px;
  }
  body .ncx #Jaf .basic_info .second-column {
    width: 290px;
  }
  body .ncx #Jaf .basic_info .box {
    width: 10rem;
    height: 1.9rem;
    border-radius: 5px;
    border: solid 1px #535353;
    margin: 0.2rem;
  }
  body .ncx #Jaf .basic_info .lblBasicInfo {
    width: 7.2rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  body .ncx #Jaf .basic_info .LN {
    margin-left: -2px;
  }
  body .ncx #Jaf .prsnl_quest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0.9rem;
    font-family: "Poppins";
    font-size: clamp(1rem, 10%, 10vw);
    font-family: "Montserrat";
  }
  body .ncx #Jaf .prsnl_quest .first-column {
    width: 290px;
    margin-left: 0.3rem;
    padding-right: 0.5rem;
  }
  body .ncx #Jaf .prsnl_quest .second-column {
    width: 290px;
  }
  body .ncx #Jaf .prsnl_quest .box {
    width: 10.5rem;
    height: 1.5rem;
    border-radius: 5px;
    border: solid 1px #535353;
  }
  body .ncx #Jaf .FamBG {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0.9rem;
    font-family: "Poppins";
    font-size: clamp(1rem, 10%, 10vw);
    font-family: "Montserrat";
  }
  body .ncx #Jaf .FamBG .father {
    width: 315px;
    padding: 0.4rem;
  }
  body .ncx #Jaf .FamBG .mother {
    width: 315px;
  }
  body .ncx #Jaf .FamBG .box {
    width: 10rem;
    height: 1.9rem;
    border-radius: 5px;
    border: solid 1px #535353;
  }
  body .ncx #Jaf .FamBG .lbl {
    width: 8rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  body .ncx #Jaf .FamBG .LN {
    margin-left: -3px;
  }
  body .ncx #Jaf .FamBG .NL {
    margin-right: -10px;
  }
  body .ncx #Jaf span {
    padding: 8px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .ncx #Jaf #btnSubmit {
    height: auto;
    padding: 6px 13px;
    border-radius: 3px;
    width: auto;
    font-size: 15px;
    border: solid 0px beige;
    position: relative;
    background-color: #0857ce;
    color: white;
    border-radius: 20px;
  }
}
/*# sourceMappingURL=stylesheet.css.map */