*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.text {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  -webkit-animation: width ease-out .8s;
          animation: width ease-out .8s;
  background-color: orange;
  padding: 1rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotatey() 0.3s;
          transform: rotatey() 0.3s;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.text:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@-webkit-keyframes width {
  0% {
    width: 0;
    overflow: hidden;
  }
  100% {
    width: 15rem;
  }
}

@keyframes width {
  0% {
    width: 0;
    overflow: hidden;
  }
  100% {
    width: 15rem;
  }
}

.txt {
  -webkit-animation: slide ease-out 2s;
          animation: slide ease-out 2s;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-250%);
            transform: translateX(-250%);
  }
  30% {
  }
  100% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-250%);
            transform: translateX(-250%);
  }
  30% {
  }
  100% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@media (max-width: 450px) {
  .text {
    -webkit-animation: width ease-in-out .6s forwards;
            animation: width ease-in-out .6s forwards;
  }
  @-webkit-keyframes width {
    0% {
      width: 16rem;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    60% {
      width: 18rem;
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    100% {
      width: 20rem;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes width {
    0% {
      width: 16rem;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    60% {
      width: 18rem;
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    100% {
      width: 20rem;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .txt {
    -webkit-animation: slide ease-out 6s;
            animation: slide ease-out 6s;
  }
  @-webkit-keyframes slide {
    0% {
      -webkit-transform: translateX(150%);
              transform: translateX(150%);
    }
    30% {
      -webkit-transform: translateX(-1%);
              transform: translateX(-1%);
    }
    100% {
      -webkit-animation-play-state: paused;
              animation-play-state: paused;
    }
  }
  @keyframes slide {
    0% {
      -webkit-transform: translateX(150%);
              transform: translateX(150%);
    }
    30% {
      -webkit-transform: translateX(-1%);
              transform: translateX(-1%);
    }
    100% {
      -webkit-animation-play-state: paused;
              animation-play-state: paused;
    }
  }
}
/*# sourceMappingURL=txt_animation.css.map */