*::after,
 *::before{
    margin: 0;
    padding: 0;
}
 
@mixin center {
    display: flex;
    justify-content: center;
    place-items: center;
    // background: url(../img/beverage-coffee.jpg) no-repeat;
}

body{
     @include center();
     width: 100vw;
     height: 100vh; 
}

.text{
    width: 15rem;
    height: 15rem; 
    overflow: hidden;
    animation: width ease-out .8s ;
    background-color: orange;
    padding: 1rem;
    transform-style: preserve-3d;
     transform: rotatey() .3s;
    perspective: 1000px;
}
.text:hover{
      
        transform: rotateY(180deg);
    
}


@keyframes width{
    0%{
         width: 0;
         overflow: hidden;
        // transform: scale(0);
    }
    100%{
         width: 15rem;
        // transform: scale(1.2);
    }
}

.txt{
    animation: slide ease-out 2s  ;
    
}

@keyframes slide{
    0%{
        transform: translateX(-250%);
         
    }
     30%{
    //     overflow: hidden;
       
    }
    100%{
        transform: translateX(1%);
        animation-play-state: paused;
    }
}

 @media(max-width: 450px){
     .text{
         animation: width ease-in-out .6s forwards;

     }

     @keyframes width{
         0%{
             width: 16rem;
              transform: scale(0);
          }
         60%{
             width: 18rem;
              transform: scale(1.3);
          }
         100%{
             width: 20rem;
             transform: scale(1);
         }
     }
     .txt{
         animation: slide ease-out 6s;
     }
     @keyframes slide{
         0%{
             transform: translateX(150%);
         }
         30%{
             transform: translateX(-1%);
         }
         100%{
            animation-play-state: paused;
         }
     }

 }